<div ng-app="start" ng-controller="StartCtrl">
  <md-content layout-padding flex layout-align="start center">
    <h2>What is this?</h2>
    <p>
        Currently just an Easter project where I can play around with technologies that I haven't gotten around to using that much.
    </p>
    <p>
        Everything here is expected to be buggy!
    </p>
    <p>
    The name <label>Crooked Hipster</label> comes from the fact that this quite simple site is built using <label>Angular</label>
    together with all<br>the hipstery over-the-top things (as far as this site goes) that I've never gotten around to learning (<label>Node</label>, <label>Bower</label>, ...)
    </p>
    <md-list flex>
        <md-header class="md-no-sticky"><h4>Built With</h4></md-header>
        <md-list-item class="md-3-line" ng-repeat="item in builtWith" ng-href="{{item.link}}" ng-click="null">
          <img ng-src="{{item.iconLink}}" class="md-avatar"/>
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.name }}</h3>
            <h4>{{ item.desc }}</h4>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
    </md-list>
    </md-content>
</div>